@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@300&family=Roboto+Mono:ital,wght@1,700&display=swap');
.container { 
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
   }

h1 {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
}
h3{
    font-family: 'Roboto Mono', cursive;
}

p{
    font-family:'Mukta', cursive;
}
img {
    margin-left: -42px;
 }
figure{
    display: inline-block;
}
 